.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2rem;
}

.image{
    position: relative;
    width:10rem;
    height: 10rem; 
    transition: 0.5s;
}

.image:hover{
    transform: rotate(25deg);
}

@media only screen and (min-width:600px) {
    .container{
        margin:0;
    }
    .image{
        width:15vw;
        height: 8vw; 
    }
}