.input{
    background-color: #F5F4EB!important;
    border:3px solid #5D3D87;
    width:25rem;
}

.contact-details{
    width:50%;
    border-right: 3px solid #5D3D87;
}

.form{
    width: 65%;
}

.textarea{
    width:40rem;
}

@media only screen and (max-width: 900px) {
    .contact-details{
        width:100%;
        border-right: 0;
        border-bottom:3px solid #5D3D87;
    }
    .form, .input, .textarea{
        width: 100%;
    }
  }