.nav{
    top:0;
    background-color: #F5F4EB;
    border-bottom: 3px solid #5D3D87;
}
.sidenav-button{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #5D3D87;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav.open {
    width: 250px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f5f4ebba;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #F5F4EB;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }